.skillsBlock {
    height: 100vh;
    background-color: #212529;
}

.skillsContainer {
    justify-content: flex-start;
    flex-direction: column;
}

.title {
    background-color: #6c757d;
}

.skills {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}