.mainBlock {
    height: 100%; /*потом исправить на %*/
    background-color: #f8f9fa;

}



.text {
    width: 300px;
    /*border: 1px solid;*/
    background-color:#858792;
}
.photo {
    width: 300px;
    height: 400px;
    /*border: 2px solid;*/
    background-color: #6c757d;
}