.work {
    width: 350px;
    background-color: #858792;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

}



.img {
    width: 250px;
    height: 300px;
    background-color: #f8f9fa;
    margin: 5px;
}