.remoteWorkBlock {
  height: 300px;
  background-color: #252839;
}

.content {
  width: 80%;
  border: 2px solid;
  border-radius: 10px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2b632;
}

.button {
  border-radius: 5px;
  background-color: aqua;
  color: blue;
  margin: 5px;
}