.skill {
    width: 250px;
    background-color: yellow;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.icon {
    height: 60px;
    width: 60px;
    background-color: aqua;
}